<div class="container mt-5">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
    </div>
    <div class="row">
        <div *ngFor="let m of moviesList | filter:filterTerm">
            <div class="col-sm mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="../../../assets/images/{{m.imageName}}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{m.name}} <span class="badge badge-primary">{{m.numberInStock}}</span>
                        </h5>
                        <p class="card-text">{{m.genre}}</p>
                        <p>{{m.price}} Dt</p>
                        <button [routerLink]="['rent',m.id]" [disabled]="m.numberInStock ==0"
                            class="btn btn-primary">Rent
                            Movie</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>